{% extends 'authbase.html' %}
{% load static %}
{% block content %}
<section class="page__title  fix text-center">
    <div class="slider__shape">
        <img class="shape triangle" src="{% static 'assets/img/aboutpage/topElips.png' %}" alt="topshape">
        <img class="shape dotted-square" src="{% static 'assets/img/aboutpage/rightElips.png' %}" alt="rightshape">
        <img class="shape solid-square" src="{% static 'assets/img/aboutpage/circleElips.png' %}" alt="solid-square">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content pt-235">
                    <h4 style="color:white;"> We've emailed you instructions for setting your
                          password, if an account exists with the email you
                          entered. You should receive them shortly.<br />If you
                          don't receive an email, please make sure you've
                          entered the address you registered with, and check
                          your spam folder.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
