{% extends 'authbase.html' %}
{% load static %}
{% block content %}
<section class="page__title  fix text-center">
    <div class="slider__shape">
        <img class="shape triangle" src="{% static 'assets/img/aboutpage/topElips.png' %}" alt="topshape">
        <img class="shape dotted-square" src="{% static 'assets/img/aboutpage/rightElips.png' %}" alt="rightshape">
        <img class="shape solid-square" src="{% static 'assets/img/aboutpage/circleElips.png' %}" alt="solid-square">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content pt-235">
                    <h2 class="page_title">Password Reset</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title end  -->

<!-- login Area Strat-->
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                    <h3 class="text-center mb-60">Password Rest From Here</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'accounts/errorfile.html' %}
                        <label>Password <span>*</span></label>
                        <input name="new_password1" id="id_new_password1" type="password" placeholder="Enter password..."/>
                        <label>Confirm Password <span>*</span></label>
                        <input name="new_password2" id="id_new_password2" type="password" placeholder="Enter password..."/>
                        <button type="submit" class="bt-btn theme-btn-2 hemal w-100"><span>Submit</span></button>
                        <div class="or-divide"><span>or</span></div>
                        <a href="{% url 'accounts:login' %}" class="bt-btn bt-btn-green w-100"
                           style="text-align: center; text-decoration: none">Login Now</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login Area End-->
{% endblock %}
