{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="col-xl-9 col-lg-8 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
    <div class="row">
        <div class="col-xl-8 col-lg-6">
            <h5 class="mb-0">Change Password</h5>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-12 mt-4 pt-2">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {% if message %}
                        <div class="alert alert-info">
                            <strong>{{ message }}</strong>
                        </div>
                        {% endif %}
                        {% include 'accounts/errorfile.html' %}
                        <div class="mb-3">
                            <label class="form-label"  style="color: black">Old Password <span
                                    class="text-danger">*</span></label>
                            <input id="id_old_password" name="old_password" type="password" class="form-control shadow"
                                   placeholder="">
                        </div>
                    </div><!--end col-->
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" style="color: black">New Password<span
                                    class="text-danger">*</span></label>
                            <input name="new_password1" id="id_new_password1" type="password" class="form-control shadow"
                                   placeholder="">
                        </div>
                    </div><!--end col-->
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" style="color: black">Confirm New Password<span
                                    class="text-danger">*</span></label>
                            <input name="new_password2" id="id_new_password2" type="password" class="form-control shadow"
                                   placeholder="">
                        </div>
                    </div><!--end col-->
                </div>

                <div class="col-lg-6">
                    <div class="d-grid">
                        <button type="submit" class="form-control btn btn-primary">Submit</button>
                    </div>
                </div><!--end col-->
        </div><!--end row-->
        </form>
    </div>
</div><!--end row-->


{% endblock %}
