{% extends 'authbase.html' %}
{% load static %}
{% block content %}
<section class="page__title  fix text-center">
    <div class="slider__shape">
        <img class="shape triangle" src="{% static 'assets/img/aboutpage/topElips.png' %}" alt="topshape">
        <img class="shape dotted-square" src="{% static 'assets/img/aboutpage/rightElips.png' %}" alt="rightshape">
        <img class="shape solid-square" src="{% static 'assets/img/aboutpage/circleElips.png' %}" alt="solid-square">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content pt-235">
                    <h2 class="page_title">Cookies Policy</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title end  -->

<!-- login Area Strat-->
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
					<p>BY CONTINUING TO USE OUR SITE AND SERVICES, YOU ARE AGREEING TO THE USE OF COOKIES AND SIMILAR TECHNOLOGIES FOR THE PURPOSES WE DESCRIBE IN THIS COOKIES POLICY. IF YOU DO NOT ACCEPT THE USE OF COOKIES AND SIMILAR TECHNOLOGIES, DO NOT USE THIS SITE.</p>
					<br>
					<h3>Cookies</h3>
					<p>A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. In general, cookies have two main purposes: to improve your browsing experience by remembering your actions and preferences, and to help us analyze our website traffic.</p>
					<br>
					<h4>What to do with Cookies?</h4>
					<p>
						We use cookies to help us analyze traffic in the Website, to help us improve website performance and usability, and to make the Website more secure. Third-party cookies help us use Google Analytics to count, track and analyze the visits to the Website
					</p>
					<br>
					<h4>Types &amp; Category of Cookies used</h4>
					<p>
						List category of cookies used in https://www.quantbotsecurities.com/. For example:
					</p>
					<p>
						<strong>a - Security</strong><br>
						We use cookies to enable and support our security features, and to help us detect malicious activity violations of our Terms and Conditions.
					</p>
					<p>
						<strong>b - Performance, Analytics, Research &amp; Advertising</strong><br>
						Cookies help us learn how well our site and web products perform in different locations. We also use these to understand, improve, and research products, features, and services, including when you access this site nextlevelbot.com from other websites, applications, or devices such as your work computer or your mobile device. We also use third party cookies to improve and personalize our marketing messages/communications with you.
					</p>
					<br>
					<h4>Control cookies</h4>
					<p>
						You are always free to delete cookies that are already on your computer through your browser settings, and you can set most browsers to prevent them from being added to your computer. However, this may prevent you from using certain features on the Website.
					</p>


            </div>
        </div>
    </div>
</section>
<!-- login Area End-->
{% endblock %}
