{% extends 'authbase.html' %}
{% load static %}
{% block content %}
<section class="page__title  fix text-center">
    <div class="slider__shape">
        <img class="shape triangle" src="{% static 'assets/img/aboutpage/topElips.png' %}" alt="topshape">
        <img class="shape dotted-square" src="{% static 'assets/img/aboutpage/rightElips.png' %}" alt="rightshape">
        <img class="shape solid-square" src="{% static 'assets/img/aboutpage/circleElips.png' %}" alt="solid-square">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content pt-235">
                    <h2 class="page_title">Privacy policy</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title end  -->

<!-- login Area Strat-->
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="form-panel-header">
                    <h2>Privacy Policy</h2>
                </div>
                <p>Our Privacy Policy forms part of, and must be read in conjunction with, website Terms and
                    Conditions. We reserve the right to change this Privacy Policy at any time. We respect the
                    privacy of our users and every person who visits our site quantbotsecurities.com. Here, (“we”,
                    “us”, or “our”). We are committed to protecting your personal information and your right to
                    privacy in accordance with the General Data Protection Regulation (GDPR). If you have any
                    questions or concerns about our policy or our practices with regards to your personal
                    information, please contact us at admin@quantbotsecurities.com. When you visit our website
                    quantbotsecurities.com (“Site”), and use our services, you trust us with your personal
                    information. We take your privacy very seriously. In this privacy notice, we describe our
                    privacy policy. We seek to explain to you in the clearest way possible what information we
                    collect, how we use it and what rights you have in relation to it. We hope you take some time to
                    read through it carefully, as it is important. If there are any terms in this privacy policy
                    that you do not agree with, please discontinue the use of our site and our services. This
                    privacy policy applies to all information collected through our website, and/or any related
                    services, sales, marketing or events (we refer to them collectively in this privacy policy as
                    the “Site“). </p>
                <br>
                <h3>ABOUT US</h3>
                <p>QuantChef is simple and technical Bot for Stock &amp; Crypto Trading. QuantChef
                    supported Indian NSE, BSE, MCX, OPTION, FUTURE, BITCOIN, and CRYPTO. We are always working to
                    make it More Enhance. We are providing automation Trading Most famous Broker like Fyers,
                    Aliceblue, Samco, Upstox, and Zerodha. You Can Trade any Segment, like NSE, BSE, MCX, FUTURE,
                    OPTION with fully and Semi. Automation. You Can Apply Any Indicator on Tradingview Chart &amp;
                    add Alerts and Enjoy automation Trading. Please read this privacy policy carefully as it will
                    help you make informed decisions about sharing your personal information with us.</p>
                <br>
                <h4>WHAT INFORMATION DO WE COLLECT?</h4>
                <p>
                    The Personal Information you disclose to us We collect personal information that you voluntarily
                    provide to us when expressing an interest in obtaining information about us or our products and
                    services, when participating in activities on the Site or otherwise contacting us. The personal
                    information that we collect depends on the context of your interactions with us and the Site,
                    the choices you make and the products and features you use. The personal information we collect
                    can include the following: Name and Contact Data. We collect your first and last name, email
                    address, postal address, phone number and other similar contact data. Information automatically
                    collected We automatically collect certain information when you visit, use or navigate the Site.
                    This information does not reveal your specific identity (like your name or contact information)
                    but may include device and usage information, such as your IP address, browser and device
                    characteristics, operating system, language preferences, referring URLs, device name, country,
                    location, information about how and when you use our Site and other technical information. If
                    you access our site with your mobile device, we may automatically collect device information
                    (such as your mobile device ID, model and manufacturer), operating system, version information
                    and IP address. This information is primarily needed to maintain the security and operation of
                    our Site, and for our internal analytics and reporting purposes. Like many businesses, we also
                    collect information through cookies and similar technologies. You can find out more about this
                    in our Cookie Policy. Information collected from other Sources We may obtain information about
                    you from other sources, such as public databases, joint marketing partners, social media
                    platforms (such as Facebook), as well as from other third parties. If you have chosen to
                    subscribe to our newsletter, your first name, last name and e-mail address will be shared with
                    our newsletter provider. This is to keep you updated with information and offers for marketing
                    purposes.
                </p>
                <br>
                <h4>HOW DO WE USE YOUR INFORMATION?</h4>
                <p>
                    We use your personal information for these purposes in reliance on our legitimate business
                    interests (“Business Purposes”), in order to enter into or perform a contract with you
                    (“Contractual”), with your consent (“Consent”), and/or for compliance with our legal obligations
                    (“Legal Reasons”). We indicate the specific processing grounds we rely on next to each purpose
                    listed below. We use the information we collect or receive:
                </p>
                <ul>
                    <li>
                        To send administrative information to you for related to your account, our business
                        purposes, and/or for legal reasons. We may use your personal information to send you
                        product, service and new feature information and/or information about changes to our terms,
                        conditions, and policies.
                    </li>
                    <li>
                        Deliver targeted advertising to you for our Business Purposes and/or with your Consent. We
                        may use your information to develop and display content and advertising (and work with third
                        parties who do so) tailored to your interests and/or location and to measure its
                        effectiveness. [For more information, see our Cookie Policy.
                        • Request Feedback for our Business Purposes and/or with your Consent. We may use your
                        information to request feedback and to contact you about your use of our Site.
                    </li>
                    <li>
                        To protect our Site for Business Purposes and/or Legal Reasons. We may use your information
                        as part of our efforts to keep our Site safe and secure (for example, for fraud monitoring
                        and prevention).
                    </li>
                    <li>
                        To enable user-to-user communications with your consent. We may use your information in
                        order to enable user-to-user communications with each user’s consent.
                    </li>
                    <li>
                        To enforce our terms, conditions and policies for our business purposes and as legally
                        required.
                    </li>
                    <li>
                        To respond to legal requests and prevent harm as legally required. If we receive a subpoena
                        or other legal request, we may need to inspect the data we hold to determine how to respond.
                    </li>
                    <li>
                        For other Business Purposes. We may use your information for other Business Purposes, such
                        as data analysis, identifying usage trends, determining the effectiveness of our promotional
                        campaigns and to evaluate and improve our Site, products, services, marketing and your
                        experience.
                    </li>
                </ul>
                <br>
                <h4>WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h4>
                <p>
                    We only share and disclose your information in the following situations:
                </p>
                <ul>
                    <li>
                        Compliance with Laws. We may disclose your information where we are legally required to do
                        so in order to comply with applicable law, governmental requests, a judicial proceeding,
                        court order, or legal process, such as in response to a court order or a subpoena (including
                        in response to public authorities to meet national security or law enforcement
                        requirements).
                    </li>
                    <li>
                        Vital Interests and Legal Rights. We may disclose your information where we believe it is
                        necessary to investigate, prevent, or take action regarding potential violations of our
                        policies, suspected fraud, situations involving potential threats to the safety of any
                        person and illegal activities, or as evidence in litigation in which we are involved.
                    </li>
                    <li>
                        Vendors, Consultants and Other Third-Party Service Providers. We may share your data with
                        third party vendors, service providers, contractors or agents who perform services for us or
                        on our behalf and require access to such information to do that work.
                    </li>
                    <li>
                        Business Transfers. We may share or transfer your information in connection with, or during
                        negotiations of, any merger, sale of company assets, financing, or acquisition of all or a
                        portion of our business to another company.
                    </li>
                    <li>
                        Third-Party Advertisers. We may use third-party advertising companies to serve ads when you
                        visit the Site. These companies may use information about your visits to our Site and other
                        websites that are contained in web cookies and other tracking technologies in order to
                        provide advertisements about goods and services of interest to you. See our Cookie Policy
                        for further information.
                    </li>
                    <li>
                        Affiliates. We may share your information with our affiliates, in which case we will require
                        those affiliates to honor this privacy policy. Affiliates include our parent company and any
                        subsidiaries, joint venture partners or other companies that we control or that are under
                        common control with us.
                    </li>
                    <li>
                        Business Partners. We may share your information with our business partners to offer you
                        certain products, services or promotions.
                    </li>
                    <li>
                        With your Consent. We may disclose your personal information for any other purpose with your
                        consent.
                    </li>
                    <li>
                        Other Users. When you share personal information (for example, by posting comments,
                        contributions or other content to the Site) or otherwise interact with public areas of the
                        Site, such personal information may be viewed by all users and may be publicly distributed
                        outside the Site in perpetuity.
                    </li>
                </ul>
                <br>
                <h4>
                    DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
                </h4>
                <p>
                    We may use cookies and similar tracking technologies (like web beacons and pixels) to access or
                    store information. Specific information about how we use such technologies and how you can
                    refuse certain cookies is set out in our Cookie Policy.
                </p>
                <br>
                <h4>
                    WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?
                </h4>
                <p>
                    The Site may contain advertisements from third parties that are not affiliated with us and which
                    may link to other websites, online services or mobile applications. We cannot guarantee the
                    safety and privacy of data you provide to any third parties. Any data collected by third parties
                    is not covered by this privacy policy. We are not responsible for the content or privacy and
                    security practices and policies of any third parties, including other websites, services or
                    applications that may be linked to or from the Site. You should review the policies of such
                    third parties and contact them directly to respond to your questions.
                </p>
                <br>
                <h4>
                    HOW LONG DO WE KEEP YOUR INFORMATION?
                </h4>
                <p>
                    We will only keep your personal information for as long as it is necessary for the purposes set
                    out in this privacy policy, unless a longer retention period is required or permitted by law
                    (such as tax, accounting or other legal requirements). When we have no ongoing legitimate
                    business need to process your personal information, we will either delete or anonymize it, or,
                    if this is not possible (for example, because your personal information has been stored in
                    backup archives), then we will securely store your personal information and isolate it from any
                    further processing until deletion is possible.
                </p>
                <br>
                <h4>
                    HOW DO WE KEEP YOUR INFORMATION SAFE?
                </h4>
                <p>
                    We have implemented appropriate technical and organizational security measures designed to
                    protect the security of any personal information we process. However, please also remember that
                    we cannot guarantee that the internet itself is 100% secure. Although we will do our best to
                    protect your personal information, transmission of personal information to and from our Site is
                    at your own risk. You should only access the services within a secure environment.
                </p>
                <br>
                <h4>
                    DO WE COLLECT INFORMATION FROM MINORS?
                </h4>
                <p>
                    We do not knowingly solicit data from or market to children under 16 years of age. By using the
                    Site, you represent that you are at least 16 or that you are the parent or guardian of such a
                    minor and consent to such minor dependent’s use of the Site. If we learn that personal
                    information from users less than 16 years of age has been collected, we will deactivate the
                    account and take reasonable measures to promptly delete such data from our records. If you
                    become aware of any data we have collected from children under age 16, please contact us at <a
                        href="mailto:admin@quantbotsecurities.com">admin@quantbotsecurities.com</a>.
                </p>
                <br>
                <h4>
                    WHAT ARE YOUR PRIVACY RIGHTS?
                </h4>
                <p>
                    Personal Information You may at any time review or change the information in your account or
                    terminate your account by:
                </p>
                <ul>
                    <li>
                        Contacting us using the contact information provided below Upon your request to terminate
                        your account, we will deactivate or delete your account and information from our active
                        databases. However, some information may be retained in our files to prevent fraud,
                        troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or
                        comply with legal requirements. Cookies and similar technologies: Most Web browsers are set
                        to accept cookies by default. If you prefer, you can usually choose to set your browser to
                        remove cookies and to reject cookies. If you choose to remove cookies or reject cookies,
                        this could affect certain features or services of our Site.
                    </li>
                </ul>
                <br>
                <h4>
                    DO WE MAKE UPDATES TO THIS POLICY?
                </h4>
                <p>
                    We may update this privacy policy from time to time. The updated version will be indicated by an
                    updated “Revised” date and the updated version will be effective as soon as it is accessible. If
                    we make material changes to this privacy policy, we may notify you either by prominently posting
                    a notice of such changes or by directly sending you a notification. We encourage you to review
                    this privacy policy frequently to be informed of how we are protecting your information.
                </p>
                <br>
                <h4>
                    HOW CAN YOU CONTACT US ABOUT THIS POLICY?
                </h4>
                <p>
                    If you have questions or comments about this policy, email us at <a
                        href="mailto:admin@quantbotsecurities.com">admin@quantbotsecurities.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- login Area End-->
{% endblock %}
