{% extends 'authbase.html' %}
{% load static %}
{% block content %}
<section class="page__title  fix text-center">
    <div class="slider__shape">
        <img class="shape triangle" src="{% static 'assets/img/aboutpage/topElips.png' %}" alt="topshape">
        <img class="shape dotted-square" src="{% static 'assets/img/aboutpage/rightElips.png' %}" alt="rightshape">
        <img class="shape solid-square" src="{% static 'assets/img/aboutpage/circleElips.png' %}" alt="solid-square">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content pt-235">
                    <h2 class="page_title">Terms &amp; Conditions</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title end  -->

<!-- login Area Strat-->
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3>INTRODUCTION</h3>
                <p><a href="http://www.quantbotsecurities.com" target="_blank">www.quantbotsecurities.com</a> (“we,”
                    “us,” or “our”) welcomes you. We offer you access to our product and services through our “Website”
                    (defined below) subject to the following Terms of Service, which may be updated by us from time to
                    time with or without notice to you. By accessing and using this Website, you acknowledge that you
                    have read, understood and agree to be lawfully bound by these terms and conditions and our Privacy
                    Policy, which are hereby incorporated by reference (collectively, this “Agreement”). In case you do
                    not agree with any of these terms, then please do not use the Website.</p>
                <br>
                <h3>DEFINITIONS</h3>
                <ul>
                    <li>
                        “Agreement” denotes to this Terms and Conditions and the Privacy Policy and other documents
                        provided to you by the Website;
                    </li>
                    <li>
                        “Vehicle” is the vehicle and/or vehicles matching the description and specification as displayed
                        from time to time on our website;
                    </li>
                    <li>
                        “Service” or “Services” denotes any service shown below, which we may offer from our Website.
                    </li>
                    <li>
                        “User”, “You” and “your” denotes to the person who is accessing the website for taking or
                        availing any service from us;
                    </li>
                    <li>
                        “We”, “us” and “our” are references to QUANTCHEF;
                    </li>
                    <li>
                        ”Website” shall mean and include "<a href="https://quantbotsecurities.com" target="_blank">https://quantbotsecurities.com</a>,
                        and any successor Website or any of its affiliates;
                    </li>
                </ul>
                <br>
                <h4>INTERPRETATION</h4>
                <ul>
                    <li>
                        All references to the singular include the plural and vice versa and the word "includes" should
                        be construed as "without limitation".
                    </li>
                    <li>
                        Words used herein regardless of the number and gender specifically used, shall be deemed and
                        construed to include any other number, singular or plural, and any other gender, masculine,
                        feminine or neuter, as the context requires.
                    </li>
                    <li>
                        Reference to any statute, ordinance or other law includes all regulations and other instruments
                        and all consolidations, amendments, re-enactments or replacements for the time being in force.
                    </li>
                    <li>
                        All headings, bold typing and italics (if any) have been inserted for convenience of reference
                        only and do not define limit or affect the meaning or interpretation of the terms of this
                        Agreement.
                    </li>
                </ul>
                <br>
                <h4>INTRODUCTION AND SCOPE</h4>
                <ul>
                    <li>
                        Scope. These Terms govern your use of the Website and the Services. Except as otherwise
                        specified, these Terms do not apply to Third-Party Products or Services, which are governed by
                        their own terms of service.
                    </li>
                    <li>
                        Eligibility: Certain Service of the Website is not available to users under the age of 16 or to
                        any users suspended or removed from the system by us for any reason.
                    </li>
                    <li>
                        Electronic Communication: When you use this Website or send e-mails and other electronic
                        communications from your desktop or mobile device to us, you are communicating with us
                        electronically. By sending, you agree to receive a reply communication from us electronically in
                        the same format and you can keep copies of these communications for your records.
                    </li>
                </ul>
                <br>
                <h4>SERVICES</h4>
                <p>
                    QuantChef is simple and technical Bot for Stock &amp; Crypto Trading. QuantChef
                    supported Indian NSE, BSE, MCX, OPTION, FUTURE, BITCOIN, and CRYPTO. We are always working to make
                    it More Enhance. We are providing automation Trading Most famous Broker like Fyers, Aliceblue,
                    Samco, Upstox, and Zerodha. You Can Trade any Segment, like NSE, BSE, MCX, FUTURE, OPTION with fully
                    and Semi. Automation. You Can Apply Any Indicator on Tradingview Chart &amp; add Alerts and Enjoy
                    automation Trading.
                </p>
                <br>
                <h4>
                    MODIFICATIONS TO THE SERVICE
                </h4>
                <p>
                    We reserve the right, in our discretion, to change, modify, add to, or remove portions of the Terms
                    (collectively, “Changes”), at any time. We may notify you of changes by sending an email to the
                    address identified in your Account or by posting a revised version of the Terms incorporating the
                    changes to its Website.
                </p>
                <br>
                <h4>
                    GEOGRAPHIC RESTRICTION
                </h4>
                <p>
                    We reserve the right to limit the usage or supply of any product or service to any person,
                    geographic region or jurisdiction. We may use this right as per the necessity. We reserve the right
                    to suspend any Service at any time. Any offer to provide any Product or Service made on this Website
                    is invalid where banned.
                </p>
                <br>
                <h4>
                    USER RESPONSIBILITIES
                </h4>
                <ul>
                    <li>
                        You shall use the Service and Website for a lawful purpose and comply with all the applicable
                        laws while using the Website;
                    </li>
                    <li>
                        You shall not upload, any content on the website that: o Defamatory, infringes any trademark,
                        copyright or any proprietary rights of any person or affect any one’s privacy, contain violence
                        or hate speech, including any sensitive information about any person.
                    </li>
                    <li>
                        You shall not use or access the Website for collecting any market research for some competing
                        business;
                    </li>
                    <li>
                        You shall not misrepresent or personate any person or entity for any false or illegal purpose;
                    </li>
                    <li>
                        You shall not use any virus, hacking tool for interfering in the operation of the Website or
                        data and files of the Website;
                    </li>
                    <li>
                        You will not use any device, scraper or any automated thing to access the Website for any
                        purpose without taking permission from us.
                    </li>
                    <li>
                        You will inform us about anything is inappropriate or you can inform us if you find something
                        illegal in the website;
                    </li>
                    <li>
                        You will not interfere with or try to interrupt the proper operation of the Website through the
                        use of any virus, device, information collection or transmission mechanism, software or routine,
                        or access or try to gain access to any data, files, or passwords connected to the Website
                        through hacking, password or data mining, or any other means;
                    </li>
                    <li>
                        User must not use the Quantbotsecurities.com Website for illegal, unlawful or prohibited
                        purposes. This includes sending or posting junk e-mail or spam, publishing misleading,
                        defamatory, indecent, obscene or advertising material, or send viruses and worms.
                    </li>
                    <li>
                        Users must not impersonate any other person or entity or use a false name or a name that they
                        have no authority to use.
                    </li>
                    <li>
                        You will not cover, obscure, block, or in any way interfere with any advertisements and/or
                        safety features (e.g., report abuse button) on the Website;
                    </li>
                    <li>
                        You will not take any action that levies or may levy (in our sole decision) an unreasonable or
                        unreasonably big load on our technical arrangement; and
                    </li>
                    <li>
                        You will let us know about unsuitable content of which you become aware. If you discover
                        something that infringes any law, please let us know, and we’ll review it. We reserve the right,
                        in our sole and absolute discretion, to deny you access to the Website or any service, or any
                        portion of the Website or service, without notice, and to remove any content.
                    </li>
                </ul>
                <br>
                <h4>
                    SUBSCRIPTION PLAN AND PAYMENT
                </h4>
                <ul>
                    <li>
                        Any order for subscribing any Subscription plan by the User available on the Website is between
                        User and QuantChef. User agree to take particular care when providing us with its
                        details and warrant that these details are accurate and complete at the time of ordering
                    </li>
                    <li>
                        SUBSCRIPTION CHARGES: It is agreed by the user that:
                    </li>
                    <li>
                        The User shall pay the required subscription fee to us as per the Subscription plan available on
                        the Website.
                    </li>
                    <li>
                        Subscription Payment: Payment mode shall be: Online: Credit Cards and Debit cards;
                    </li>
                    <li>
                        Any order for subscribing to any Subscription plan that you place with us is subject to
                        acceptance by us. When you place your order online we will send you an email to confirm that we
                        have received it.
                    </li>
                    <li>
                        We may refuse or be unable to process your order/subscription if:
                    </li>
                    <li>
                        Your card does not give authorization for the payment of purchase price.
                    </li>
                    <li>
                        You do not meet the eligibility to order criteria set out above.
                    </li>
                    <li>
                        The user can cancel the subscription of any service anytime through contacting us.
                    </li>
                    <li>
                        No refund shall be applicable on the paid service. For any issue you can contact us through
                        email: <a href="mailto:support@quantbotsecurities.com">support@quantbotsecurities.com</a>
                    </li>
                    <li>
                        We take customer feedback very seriously and use it to constantly improve our products and
                        quality of service.
                    </li>
                </ul>
                <br>
                <h4>
                    GENERAL CONDITIONS
                </h4>
                <ul>
                    <li>
                        We do not guarantee the accuracy, completeness, validity, or timeliness of information listed by
                        us.
                    </li>
                    <li>
                        We make material changes to these terms and conditions from time to time, we may notify you
                        either by prominently posting a notice of such changes or via email communication.
                    </li>
                    <li>
                        The website is licensed to you on a limited, non-exclusive, non-transferrable,
                        non-sub-licensable basis, solely to be used in connection with the Service for your private,
                        personal, non-commercial use, subject to all the terms and conditions of this Agreement as they
                        are applicable to the Service.
                    </li>
                    <li>
                        You further acknowledge and agree that we have no obligation whatsoever to furnish any
                        maintenance and support services with respect to the website.
                    </li>
                </ul>
                <br>
                <h4>
                    RELEASE
                </h4>
                <p>
                    You release us and our successors from all losses, damages, rights, and demands and actions of any
                    kind, including personal injuries, death, and property damage, that are directly or indirectly
                    related to or arising from your use of the Services (collectively, “Claims”).
                </p>
                <br>
                <h4>
                    EXCLUSION OF LIABILITY
                </h4>
                <p>
                    You understand and agree that we (a) do not guarantee the accuracy, completeness, validity, or
                    timeliness of information listed by us or provided by us or any third parties; and (b) shall not be
                    responsible for any materials posted by us or provided by us or any third party. You shall use your
                    own judgment, caution, and common sense in evaluating any prospective methods or offers and any
                    information provided by us or any third party. Further, we shall not be liable for direct, indirect
                    consequential or any other form of loss or damage that may be suffered by a user through the use of
                    the www.quantbotsecurities.com Website including loss of data or information or any kind of
                    financial or physical loss or damage. In no event shall QUANTCHEF, nor its Owners,
                    directors, employees, partners, agents, suppliers, or affiliates, be accountable for any indirect,
                    incidental, special, eventful or exemplary costs, including without limitation, loss of proceeds,
                    figures, usage, goodwill, or other intangible losses, consequential from (i) your use or access of
                    or failure to access or use the Service; (ii) any conduct or content of any third party on the
                    Service; (iii) any content attained from the Service; and (iv) unlawful access, use or alteration of
                    your transmissions or content, whether or not based on guarantee, agreement, domestic wrong
                    (including carelessness) or any other lawful concept, whether or not we've been aware of the
                    possibility of such damage, and even if a cure set forth herein is originated to have futile of its
                    important purpose.
                </p>
                <br>
                <h4>
                    NO RESPONSIBILITY
                </h4>
                <p>
                    We are not responsible to you for:
                </p>
                <ul>
                    <li>
                        any reliance that you may place on any material or commentary posted on our website. Please note
                        that nothing contained in our website or the material published on it is intended to amount to
                        advice on which you should rely; or
                    </li>
                    <li>
                        any losses you suffer because the information you put into our website is inaccurate or
                        incomplete; or
                    </li>
                    <li>
                        any losses you suffer if the information you put into our website is accurate but the Service
                        provider's website has not accurately reflected that information because its system is not
                        working correctly; or
                    </li>
                    <li>
                        any losses you suffer if you misrepresent any fact which may influence the Service provider’s
                        decision to accept the risk or the terms offered; or
                    </li>
                    <li>
                        any losses you suffer because you cannot use our website at any time; or
                    </li>
                    <li>
                        any errors in or omissions from our website; or
                    </li>
                    <li>
                        any unauthorised access or loss of personal information that is beyond our control.
                    </li>
                </ul>
                <br>
                <h4>
                    THIRD PARTY LINKS
                </h4>
                <p>
                    The Website may comprise links to external or third-party Websites (“External Sites”). These links
                    are provided exclusively as ease to you and not as an authorization by us of the content on such
                    External Sites. The content of such External Sites is created and used by others. You can
                    communicate the site administrator of those External Sites. We are not accountable for the content
                    provided in the link of any External Sites and do not provide any representations about the content
                    or correctness of the information on such External Sites. You should take safety measure(s) when you
                    are downloading files from all these Websites to safeguard your computer from viruses and other
                    critical programs. If you agree to access linked External Sites, you do so at your own risk.
                </p>
                <br>
                <h4>
                    PERSONAL INFORMATION AND PRIVACY POLICY
                </h4>
                <p>
                    By accessing or using this Website, you approve us to use, store or otherwise process your personal
                    information as per our Privacy Policy.
                </p>
                <br>
                <h4>
                    ERRORS, INACCURACIES AND OMISSIONS
                </h4>
                <p>
                    Every effort has been taken to ensure that the information offered on this Website is accurate and
                    error-free. We apologise for any errors or omissions that may have occurred. We cannot give you any
                    warranty that usage of the Website will be error-free or fit for purpose, timely, that defects will
                    be amended, or that the site or the server that makes it available are free of viruses or bugs or
                    signifies the full functionality, accuracy, reliability of the Website and we do not make any
                    warranty whatsoever, whether express or implied, relating to fitness for purpose, or accuracy.
                </p>
                <br>
                <h4>
                    DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY
                </h4>
                <p>
                    THE WEBSITE AND THE SERVICE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY
                    WARRANTIES OF ANY KIND, INCLUDING THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THE WEBSITE, ITS
                    SERVERS OR ITS CONTENT OR SERVICE ARE FREE OF COMPUTER VIRUSES OR SIMILAR CONTAMINATION OR
                    DESTRUCTIVE FEATURES. WE DISCLAIM ALL LICENSES OR WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
                    LICENSES OR WARRANTIES OF TITLE, MERCHANTABILITY, NON-VIOLATION OF THIRD PARTIES’ RIGHTS, AND
                    FITNESS FOR PARTICULAR PURPOSE AND ANY WARRANTIES ARISING FROM A MATTER OF DEALING, COURSE OF
                    PERFORMANCE, OR USAGE OF TRADE. IN RELATION WITH ANY WARRANTY, CONTRACT, OR COMMON LAW TORT CLAIMS:
                    (I) WE SHALL NOT BE LIABLE FOR ANY UNINTENDED, INCIDENTAL, OR SUBSTANTIAL DAMAGES, LOST PROFITS, OR
                    DAMAGES RESULTING FROM LOST DATA OR BUSINESS STOPPAGE RESULTING FROM THE USE OR INABILITY TO ACCESS
                    AND USE THE WEBSITE OR THE CONTENT, EVEN IF WE HAVE BEEN RECOMMENDED OF THE POSSIBILITY OF SUCH
                    DAMAGES. THE WEBSITE MAY COMPRISE TECHNICAL INCORRECTNESS OR TYPOGRAPHICAL ERRORS OR OMISSIONS.
                    UNLESS REQUIRED BY APPLICABLE LAWS, WE ARE NOT ACCOUNTABLE FOR ANY SUCH TYPOGRAPHICAL, TECHNICAL, OR
                    PRICING ERRORS RECORDED ON THE WEBSITE. THE WEBSITE MAY CONTAIN INFORMATION ON CERTAIN SERVICES, NOT
                    ALL OF WHICH ARE AVAILABLE IN EVERY LOCATION. A REFERENCE TO A SERVICE ON THE WEBSITES DOES NOT
                    SUGGEST THAT SUCH SERVICE IS OR WILL BE ACCESSIBLE IN YOUR LOCATION. WE RESERVE THE RIGHT TO DO
                    CHANGES, CORRECTIONS, AND/OR IMPROVEMENTS TO THE WEBSITE AT ANY TIME WITHOUT NOTICE.
                </p>
                <br>
                <h4>
                    INDEMNIFICATION
                </h4>
                <p>
                    You agree to defend, indemnify, and hold us and our officers, directors, employees, successors,
                    licensees harmless from and against any claims, actions, or demands, including, without limitation,
                    reasonable legal and accounting fees, arising or resulting from your breach of this Agreement or
                    your misuse of the Content or the Website. We shall provide notice to you of any such claim, suit,
                    or proceeding and shall assist you, at your expense, in defending any such claim, suit, or
                    proceeding. We reserve the right, at your expense, to assume the exclusive defence and control of
                    any matter that is subject to indemnification under this section. In such case, you agree to
                    cooperate with any reasonable requests assisting our defence of such matter.
                </p>
                <br>
                <h4>
                    MISCELLANEOUS
                </h4>
                <p>
                    SEVERABILITY If any provision of these Terms is found to be unenforceable or invalid, that provision
                    will be limited or eliminated to the minimum extent necessary so that the Terms will otherwise
                    remain in full force and effect and enforceable. TERMINATION Term. The Services will be provided to
                    you can be cancelled or terminated by us. You can terminate our services by contacting us at our
                    email: support@quantbotsecurities.com. We may terminate these Services at any time, with or without
                    cause, upon written notice. We will have no liability to you or any third party because of such
                    termination. Termination of these Terms will terminate all of your Services subscriptions. Effect of
                    Termination. Upon termination of these Terms for any reason, or cancellation or expiration of your
                    Services: (a) We will cease providing the Services; (b) you will not be entitled to any refunds or
                    usage fees, or any other fees, pro-rata or otherwise; (c) any fees you owe to us will immediately
                    become due and payable in full, and (d) we may delete your archived data within 30 days. All
                    sections of the Terms that expressly provide for survival, or by their nature should survive, will
                    survive termination of the Terms, including, without limitation, indemnification, warranty
                    disclaimers, and limitations of liability. ENTIRE AGREEMENT This Agreement constitutes the entire
                    agreement between the parties hereto with respect to the subject matter contained in this Agreement.
                    GOVERNING LAW AND JUDICIAL RECOURSE The terms herein will be governed by and construed in accordance
                    with the law of India without giving effect to any principles of conflicts of law. The courts of
                    India shall have exclusive jurisdiction over any dispute arising from the use of the Website. FORCE
                    MAJEURE We will have no liability to you, your users, or any third party for any failure to perform
                    our or its obligations under these Terms in the event that such non-performance arises as a result
                    of the occurrence of an event beyond the reasonable control of us, including, without limitation, an
                    act of war or terrorism, natural disaster, failure of electricity supply, riot, civil disorder, or
                    civil commotion or other force majeure event. ASSIGNMENT We shall have the right to assign/transfer
                    this agreement to any third party including its holding company, subsidiaries, affiliates,
                    associates and group companies, without any consent of the User. CONTACT INFORMATION If you have any
                    questions about these Terms, please contact us at <a href="mailto:support@quantbotsecurities.com">support@quantbotsecurities.com</a>.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- login Area End-->
{% endblock %}
